{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="box-element ">
            
            <h1>box1</h1>
            <div style="flex:2"><img class="row-image" src="{{product.imageURL}}"></div>
            <div style="flex:2"><p>{{product.name}}</p></div>
            <div style="flex:1"><p>${{product.price|floatformat:2}}</p></div>
            <div style="flex:1">

        </div>
        <div class="box-element">
            <h1>Opinia produktu:</h1>
            <h2>Srednia opinia: {{rating_mean}} <text class='mean_rating'>★</text></h2>
  
        <div>
            Dodaj Opinie:
            <form method="POST" action="">
                {% csrf_token %}
                <div class="rating rating2">
                    <a href="#5" title="Give 5 stars" data-value="5">★</a>
                    <a href="#4" title="Give 4 stars" data-value="4">★</a>
                    <a href="#3" title="Give 3 stars" data-value="3">★</a>
                    <a href="#2" title="Give 2 stars" data-value="2">★</a>
                    <a href="#1" title="Give 1 star" data-value="1">★</a>
                </div>
                <input type='submit' value='Submit'/>
            </form>
            
        </div>

        
  </div>
        <div class="box-element">
            Dodaj Komentarz:
            <form method="POST" action="">
                {% csrf_token %}
                <input name="body" placeholder="Write your message here..." />
            </form>
           <h1>Komentarze:</h1>
           {% for comment in comments %}
           <h2>{{comment.content}}</h2>
           <h3>{{comment.opinion}}</h3>
           <br/>
           <hr/>
           {% empty %}
           <h1>No comment has been added yet.</h1>
           {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}
